.movie_section{
    display: flex;
    gap:10px;
    padding:10px 20px;
}
.movie_addSection{
    padding-left: 20px;
    border-top:1px solid rgb(194, 191, 191);
    border-bottom: 1px solid rgb(194, 191, 191);
}